body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
:root {
  --logo: #4d5ae5;
  --logo1: #2e2f42;
  --nav-list: #404bbf;
  --botton-link: #f4f4fd;
  --port-paragraf: #434455;
  --menu-bottom: #e7e9fc;
}
/*
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
*/
/*reset*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*flex-box*/
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section-feature {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-doing {
  padding-bottom: 120px;
}
.foot-container {
}
.link:hover {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}

/*main head*/
.header-container {
  border-bottom: 1px solid #e7e9fc;
}
.head-cont {
  display: flex;
}
.nav-container {
  display: flex;
  align-items: center;
}
.nav-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo);
  margin-right: 76px;
  display: inline-block;
}
.menu-container {
  display: flex;
  gap: 40px;
}
.menu-list {
  padding-top: 24px;
  padding-bottom: 24px;
}
.nav-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--logo1);
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo {
  color: var(--logo1);
}
.address-container {
  display: flex;
  gap: 40px;
}
.address-list-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--port-paragraf);
}
/*portfolio head*/
.nav-logo-port {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo);
  margin-right: 76px;
}
.nav-list-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--logo1);
  padding-top: 24px;
  padding-bottom: 24px;
}
.address-list {
  display: flex;
  align-items: center;
  font-style: normal;
  margin-left: auto;
}
/*main top section*/
.section-top {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}
.section-top-text {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.section-top-button {
  display: block;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  min-width: 169px;
  min-height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
}
.section-top-button:hover {
  background-color: #404bbf;
}
.section-top-button:focus {
  background-color: #404bbf;
}
/*main section1 feature*/
.future-list {
  display: flex;
  gap: 24px;
}
.future-items {
  width: calc((100%-72px) / 4);
}
.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--logo1);
  margin-bottom: 8px;
}
.feature-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*main section2 about*/
.section-about {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--logo1);
  margin-bottom: 72px;
}
.about-list {
  display: flex;
  gap: 24px;
}
.about-text {
  width: calc((100%-48px) / 3);
}
/*main section3 team*/
.team-list {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-list-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--logo1);
  margin-bottom: 72px;
}
.team-list-items {
  display: flex;
  gap: 24px;
}
.name-list {
  background-color: #ffffff;
  width: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--logo1);
  text-align: center;
  margin-bottom: 8px;
}
.team-job {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.name-title {
  padding: 32px 16px;
}
.main-foot {
  background-color: var(--logo1);
  padding-top: 100px;
  padding-bottom: 100px;
}
.foot-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo);
  display: inline-block;
  margin-bottom: 16px;
}
.foot-logo-span {
  color: #f4f4fd;
}
.foot-text {
  line-height: 1.5;
  color: var(--botton-link);
  letter-spacing: 0.02em;
  max-width: 264px;
}
/*portfolio main section*/
.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.top-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.second-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.second-list-item {
  width: calc((1158px-48px) / 3);
}
.second-list-paragraf {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.filter-link {
  background-color: var(--botton-link);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--menu-bottom);
  border-radius: 4px;
}
.list .filter-link:hover {
  color: #ffffff;
  font-size: 16px;
  background-color: #404bbf;
  border: 1px solid transparent;
}
.list .filter-link:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}
.portfolio-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--logo1);
  margin-bottom: 8px;
}
.portfolio-list-paragraf {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--port-paragraf);
}
/*portfolio footer*/
.footer-list {
  background-color: var(--logo1);
}
.footer-list .logo {
  color: var(--botton-link);
}
